In [1]:
import pandas as pd

In [2]:
df_1 = pd.read_json('scraped_data.json')
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           95 non-null     object
 1   link            100 non-null    object
 2   source          100 non-null    object
 3   snippet         100 non-null    object
 4   date_published  100 non-null    object
 5   thumbnail       94 non-null     object
dtypes: object(6)
memory usage: 4.8+ KB

In [3]:
df_1.head()

,title,link,source,snippet,date_published,thumbnail
0,None,https://www.motorsport.com/f1/news/norris-crit...,Motorsport.com,Alpine suspects that the swipes that Lando Nor...,15 hours ago,None
1,None,https://www.motorsportweek.com/2022/10/14/merc...,Motorsport Week,Mercedes is prepared to breach Formula 1's bud...,18 hours ago,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
2,None,https://www.motorsport.com/f1/news/mclaren-rev...,Motorsport.com,McLaren has confirmed that IndyCar aces Pato O...,15 hours ago,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
3,None,https://www.motorsport.com/f1/news/aston-marti...,Motorsport.com,Aston Martin Formula 1 boss Mike Krack says th...,14 hours ago,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
4,None,https://the-race.com/formula-1/somethings-up-t...,The Race,As his McLaren struggle - and maybe his Formul...,4 hours ago,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."

In [2]:
df = pd.read_csv('data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        279 non-null    object
 1   Time         279 non-null    object
 2   Description  279 non-null    object
 3   Link         0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 8.8+ KB

In [3]:
df.head()

,Title,Time,Description,Link
0,Vettel names his toughest F1 rival after 15 ye...,Sebastian Vettel has named Lewis Hamilton as ...,https://www.formula1.com/en/latest/article.ve...,NaN
1,Horner explains why now is the right time for ...,“In that time we've recruited some of the bes...,https://www.formula1.com/en/latest/article.ho...,NaN
2,IndyCar racers Alex Palou and Pato O’Ward set ...,Palou said: “I'm so excited to be making my F...,https://www.formula1.com/en/latest/article.in...,NaN
3,From Ascari to Verstappen: How all 11 back-to-...,Max Verstappen is now a double F1 world champ...,https://www.formula1.com/en/latest/article.fr...,NaN
4,F1 TRACKS: Magnussen Schumacher and Steiner pi...,Guenther Steiner Kevin Magnussen Mick Schumac...,https://www.formula1.com/en/latest/article.f1...,NaN