In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('data.csv')
data.head()

,Title,Time,Description,Link
0,AS IT HAPPENED: Follow all the action from qua...,The drivers are short of practice time though...,https://www.formula1.com/en/latest/article.li...,NaN
1,Formula 1 odds picks race time: Surprising 202...,Formula 1 odds picks race time: Surprising 20...,https://www.cbssports.com/motor-sports/news/f...,NaN
2,Formula 1: Verstappen set to win a second stra...,Max Verstappen of the Netherlands driving the...,https://sportstar.thehindu.com/motorsport/for...,NaN
3,‘The reality is I won’t be on the grid in 2023...,Daniel Ricciardo has intimated that it's now ...,https://www.formula1.com/en/latest/article.th...,NaN
4,Formula 1: AlphaTauri announces de Vries as Ga...,De Vries had begun his official F1 racing car...,https://sportstar.thehindu.com/motorsport/for...,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269 entries, 0 to 268
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        269 non-null    object
 1   Time         269 non-null    object
 2   Description  269 non-null    object
 3   Link         0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 8.5+ KB

In [5]:
data.shape[0]

269